<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Last 30 days</th>
      <th>Shifts</th>
      <th class="text-center">Duration (Hr)</th>
    </tr>
  </thead>

  <% month_range.each_with_index do |day, index|%>
    <tr>
      <th><%= day.strftime("%e %b")%></th>
      <td>
        <% current = @shift_groups[index] || [] %>
        <%= time_range_to_s(current).join(tag.br).html_safe %>
      </td>
      <td class="text-center">
        <%= time_taken(current) %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan=2 align=right>Total</th>
    <td class="text-center"><%= time_taken(@shift_groups.values.flatten) %></td>
  </tr>
</table>
