<div class="container">
  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">

      <%= render "shared/flash_messages" %>

      <h1>All deliverers</h1>

      <%= render 'deliverers_table' %>

    </div>
  </div>
</div>
