<div class="container">
  <div class="row">
  <div class="col-md-offset-4 col-md-4">

  <h1>All shifts</h1>

  <table>
    <tr>
      <td><strong>Start Time</strong></td>
      <td><strong>End Time</strong></td>
      <td><strong>Max Count</strong></td>
    </tr>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= link_to shift.start_time, edit_shift_path(shift) %></td>
        <td><%= shift.end_time %></td>
        <td><%= shift.max_count %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
</div>
