<table>
  <tr>
    <td><strong>ID</strong></td>
    <td><strong>Start Time</strong></td>
    <td><strong>End Time</strong></td>
    <td><strong>Max Count</strong></td>
  </tr>
  <% @shifts.each do |shift| %>
    <tr>
      <td><%= shift.id %></td>
      <td><%= link_to shift.start_time.asctime, edit_shift_path(shift) %></td>
      <td><%= shift.end_time.asctime %></td>
      <td><%= "#{shift.deliverer.count}/#{shift.max_count}" %></td>
    </tr>
  <% end %>
</table>
