<div id="sign-up-form">
  <h3>Shifts Assignment</h3>

  <%= bootstrap_form_for(@assignment) do |f| %>
    <%= f.select :deliverer_id, @deliverers.map{ |d| ["#{d.id} - #{d.name}", d.id] } %>
    <%= f.select :shift_id, @shifts.map{ |s| ["#{s.id} - #{s.start_time_to_s}", s.id] } %>

    <%= f.submit 'Assign Shift', class: 'btn sign-up-button' %>
  <% end %>
</div>
