<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Max Count</th>
    </tr>
  </thead>


  <% @shifts.each do |shift| %>
    <tr>
      <th><%= shift.id %></th>
      <td><%= link_to shift.start_time_to_s, edit_shift_path(shift) %></td>
      <td><%= shift.end_time_to_s %></td>
      <td><%= "#{shift.deliverer.count}/#{shift.max_count}" %></td>
    </tr>
  <% end %>
</table>
