<div class="container">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h2>Shift Assignment Dashboard</h2>

      <%= render "shared/flash_messages" %>

    </div>
  </div>

  <div class="row bottom-buffer">
    <div class="col-md-offset-2 col-md-8">

      <div class="panel-group top-buffer">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Deliverer</strong>
          </div>
          <div class="panel-body">
              <ul>
                <li><a href="deliverers">View all</a></li>
                <li><a href="deliverers/new">Create deliverer</a></li>
              </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Shift</strong>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="shifts/show">View all</a></li>
              <li><a href="shifts/new">Create shift</a></li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Assignment</strong>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="/assignments/show">View all</a></li>
              <li><a href="assignments/new">Create assignment</a></li>
            </ul>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
